header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(120, 82, 82);
    font-family: Arial, Helvetica, sans-serif;
    height: 4em;
    background: url(images/bgbox3.png);
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
}

#headerlinkdiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.headerlinks {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 1em;
}

#headersearchdiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1em;
}

input {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5em;
    border-radius: 1em;
}

body {
    background: url("images/bgbox.png");
    background-size: cover;
    background-attachment: fixed;

}


.contactnous {

    margin-top: 100px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
}

.contact-form {
    background-color: rgb(255, 255, 255);
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 70%;
    margin: 2em auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-family: Arial, Helvetica, sans-serif;
}

.contact-form h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    font-weight: bold;
    margin-bottom: 5px;
}

.contact-form select,
.contact-form input,
.contact-message[type="text"] {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #000000;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.contact-form label[for="privacy-policy"] {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Pour centrer le contenu horizontalement */
}

.contact-form input[type="checkbox"] {
    margin: 0;
    /* Ajustez la marge pour l'espacement souhaité */
}

.contact-form input[type="submit"] {
    background-color: #f90000;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;

}

.contact-form input[type="submit"]:hover {
    background-color: #d60000;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 140px;
    align-items: center;
    background: url(images/bgbox3.png);
    background-color: rgb(249, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    height: 4em;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}


* {
    margin: 0;
}